.calc_smart_house {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  position: relative;
  padding-top: 30px;
}
.btn-group {
	align-items: center;	
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
	font-weight: 700;
	font-size: 140%;
}

.calc_smart_house_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/sh_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.5;
  z-index: -1;
}

.calc_smart_house_content {
  position: relative;
  z-index: 1;
  /* border: 1px solid red; */
  width: 90%;
  max-width: 700px;
}

.selection_columns {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	/* border: 1px solid red; */
	border-radius: 15px;
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.7);

}
h1 {
	font-size: 36px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;

	/* border: 1px solid red; */
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
	padding: 10px;
	width: 50%;
	max-width: 600px;
	text-align: center;
}

.calc_smart_house_content h2 {
	font-size: 30px;
	font-weight: 500;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
	/* border: 1px solid red; */
	
}
.calc_smart_house_content p {
	font-size: 24px;
	line-height: 1.4;
	
	/* border: 1px solid red; */
	
}

.calc_smart_house_content li {
	font-size: 16px;
	line-height: 1.4;
	list-style-type: circle;
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	/* border: 1px solid red; */
}

@media (min-width: 600px) {
	.calc_smart_house_content li {
		margin-left: 40px;
	}
}


.calc_smart_house_content span {
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Raleway', sans-serif;

	/* border: 1px solid red; */
}


.form-check {
	/* border: 1px solid red; */
	padding-right: 15px;
	margin-bottom: 0;
}

.check_buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* border: 1px solid red; */
	line-height: 1.5;
}

.img_blocks img.selected {
	opacity: 1;
}

.img_blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* border: 1px solid red; */

}

.img_blocks img {
	transform: scale(0.7);
	opacity: 0.5;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.img_blocks img:hover {
	transform: scale(0.9);
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s ease;	
}

.offer_details {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	/* border: 1px solid red; */
	border-radius: 15px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 90%;
	max-width: 700px;
}

.offer_details h2 {
	font-size: 24px;
	line-height: 1.4;
	font-family: 'Raleway', sans-serif;

	/* border: 1px solid red; */
}

.total_cost_content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	/* border: 1px solid red; */
}

.total_cost {
	font-size: 48px;
	font-weight: 600;
	/* border: 1px solid red; */
}

.cur {
	font-size: 48px;
	font-weight: 600;
	/* border: 1px solid red; */
}







.page { 
	padding: 3.125rem;
}
.form {
	max-width: 18.75rem;
	margin: 0 auto;
	display: grid;
	gap: 0.9375rem;
 }
.form__input {
	width: 100%;
	padding: 0.625rem;
	height: 2.5rem;
 }
 textarea.form__input {
	height: 6.25rem;
 }
.form__button {
	background-color: #edce9f;
	height: 2.5rem;
	border-radius: 10px;
	text-transform: uppercase;
 }